# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import re

from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [4]:
# merge datasets
df = pd.concat([messages.set_index('id'), categories.set_index('id')], axis=1, join='inner').reset_index()
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [5]:
categories = df['categories'].str.split(";",expand=True)
headers = list(categories.iloc[0])
categories.columns = [re.sub('-\d', '', i) for i in headers]

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [6]:
for column in categories:    
    pattern = categories[column].str.extract(r'(\d)', expand=True)
    categories[column] = pattern.astype('int')
    
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [7]:
# drop the original categories column from `df`
df = df.drop('categories', axis=1)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [8]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories],axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [9]:
# check number of duplicates
df[df.duplicated()]

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
656,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2131,2446,How much money did TV Latino American collect ...,Konbyen kob tv latino america ranmase miami,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2793,3217,"Sir or madam, I'm hungry, I cannot stand becau...",Mesye ou madam mwen grangou mwen pa menm kakan...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3852,4412,"Good evening staff of responsibles, please giv...",Bonswa staf responsab svp banm yon ti d paske ...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4630,5265,(Delmas 33 Charboniere infomatyon s'il vous pl...,"Delmas 33, charbonniere, information please.",direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4893,5573,"If I would like to find a job in cepoz, what s...",Si mwen ta renmen jwen travay nan cepoz ki sa ...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4951,5643,Good evening. we are writing to ask you for a ...,Bonswa nou ekri'w se pou nou mande'w yon ti d ...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
5558,6327,jel2 Acte 5: 29 2chr7 Lev11 Ecl9 Ecl4 jos5 ch...,jel2 Acte 5 : 29 2chr7 Lev11 Ecl9 Ecl4 jos5 c...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5772,6573,"I am a victim. I need food, water and a radio.",Mwen se sinistre mmen bezwen manje dlo ak yon ...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
6983,7892,Good morning!How are you doing my brothers whe...,Bonjou! Kman nou ye fr'm yo? Kil sikln nan te ...,direct,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8144,9131,NOTES: this sms is not important because this ...,Wap kale kw pou di se moun serye ou konn pran ...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10962,12589,I have men and woman clothing plus 3-4t girl c...,NaN,direct,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11357,13059,"Sent email , matched to Seniors are living in ...",NaN,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12139,14073,Area Jam gulab pahore Area ghulam haidar pahor...,(basti jam gulab pahore basti ghulam haidar pa...,direct,1,0,0,1,1,0,...,0,0,1,1,0,0,0,0,0,0
12202,14246,Mera ghar selab ki waja sy gir giya hy. aur do...,a. a. a. ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12317,14592,MAOZA U REP ',MAOZA MUZAFAR u REP ',direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12749,15169,"All #NYC bridges, tunnels &amp; mta closed; ov...",NaN,social,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
13062,15576,"Full Circle, my local, collecting supplies and...",NaN,social,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
13371,15938,But while floodwaters have subsided in some ar...,NaN,news,1,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,0
14404,17079,The slow pace of reconstruction along Japan's ...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14850,17569,"BEIJING, Aug 16 (AFP) - Some 200 people are de...",NaN,news,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
15169,17919,"Starting in October 1999, severe food insecuri...",NaN,news,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
15536,18313,"BEIJING, Sep 24, 2008 (Xinhua via COMTEX News ...",NaN,news,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
18248,21338,The Management Committee is composed of six me...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18902,22059,"Additionally, ointment to treat skin infection...",NaN,news,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
19754,23002,"After the 2011 elections, widespread rioting l...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
19959,23229,* German Agro Action (GAA) reported that in th...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21359,24779,Shelter materials (thick polyesters) are being...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21360,24779,Shelter materials (thick polyesters) are being...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
23610,27296,The regime says the charter will clear the way...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24856,28687,"At present, UNHCR has 2,500 additional tents a...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25242,29119,Most victims (90 per cent) show little or no s...,NaN,news,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# drop duplicates
df = df.drop_duplicates()

In [11]:
# check number of duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [id, message, original, genre, related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

[0 rows x 40 columns]

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [12]:
engine = create_engine('sqlite:///cleaned_message_data.db')
df.to_sql('MessageData', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.